body {
    background-color:rgb(251, 157, 217);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    gap: 10%;
}