<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="style.css" rel="stylesheet" />
    <script src="main.js"></script>
    <title>Family Album</title>
  </head>
  <body class="index-container">
    <img src="imgs/photo-album.png" alt="" width="300" />
    <a href="/angelica">
      <img src="imgs/angelica-door.png" alt="" width="400" />
    </a>
  </body>
</html>
