<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="style.css" rel="stylesheet" />
    <script src="main.js"></script>
    <title>Family Album</title>
  </head>
  <body class="container">
    <div id="familiabelandria">
      <img src="/imgs/1140.png" alt="belandria" />
    </div>
    <div id="tree-container-main">
      <div class="tree-container">
        <span class="tree">
          <a href="/mama">
            <img src="/imgs/cherry-blossom.png" alt="" />
          </a>
        </span>
        <span class="tree">
          <a href="/papa">
            <img src="/imgs/olive-tree.png" alt="" />
          </a>
        </span>
      </div>
      <div class="tree-container">
        <span class="tree">
          <a href="/angelica">
            <img src="/imgs/weeping-willow.png" alt="" />
          </a>
        </span>
        <span class="tree">
          <a href="/jorgito">
            <img src="/imgs/magnolia-tree.png" alt="" />
          </a>
        </span>
        <span class="tree">
          <a href="/victoria">
            <img src="/imgs/ceiba-tree.png" alt="" />
          </a>
        </span>
      </div>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="65%"
        viewBox="0 0 739 424"
        fill="none"
        style="position: absolute; top: 8em; left: 9em; pointer-events: none"
      >
        <path
          d="M346.177 290.878C340.414 288.921 318.502 270.512 288.581 242.679C274.717 229.783 261.116 208.172 243.122 179.527C235.171 166.87 228.884 153.973 218.254 132.166C209.091 107.685 202.47 84.8922 198.641 69.2391C197.135 63.1588 196.516 60.861 194.177 53.878"
          stroke="#C00404"
          stroke-width="2"
          stroke-linecap="round"
        />
        <path
          d="M659 332.304C649.741 335.113 632.274 342.004 619.879 346.925C612.307 349.931 598.238 353.951 582.634 357.682C567.03 361.414 550.052 364.348 536.071 366.334C499.3 370.244 493.481 370.532 488.189 371.229C486.672 371.341 484.863 371.341 483 371.14"
          stroke="#C00404"
          stroke-width="2"
          stroke-linecap="round"
        />
        <path
          d="M94.7717 348.512C95.2809 348.729 96.991 349.913 101.24 352.92C108.041 357.734 134.487 370.794 169.006 386.788C187.658 394.9 211.294 404.331 246.078 414.172C257.433 416.521 273.251 419.302 293.772 422.512"
          stroke="#C00404"
          stroke-width="2"
          stroke-linecap="round"
        />
        <path
          d="M265.038 43.9202C265.572 43.9202 281.391 43.9201 327.804 39.5842C358.84 36.6848 404.395 26.5765 432.07 20.8009C467.986 12.4085 483.035 7.51453 493.835 4.03718C498.076 2.75777 499.803 2.4635 505.41 1.30975"
          stroke="#C00404"
          stroke-width="2"
          stroke-linecap="round"
        />
        <path
          d="M134 38.3098C125.269 71.3223 111.127 117.051 94.5569 164.696C87.9182 183.785 83.713 191.874 75.6364 206.715C67.5597 221.555 55.4424 242.731 43.8587 259.368C21.5922 287.464 9.49132 301.041 7.08277 304.388C5.76848 305.963 4.26732 307.286 1 310.31"
          stroke="#C00404"
          stroke-width="2"
          stroke-linecap="round"
        />
        <path
          d="M580.602 103.129C583.743 113.316 603.744 143.651 635.324 185.321C662.309 220.927 675.631 225.696 691.106 236.137C713.439 246.813 721.558 249.977 727.93 252.514C731.146 253.621 734.326 254.364 737.602 255.129"
          stroke="#C00404"
          stroke-width="2"
          stroke-linecap="round"
        />
        <path
          d="M522.244 1C522.244 1.56431 522.244 5.27432 520.297 22.5004C515.988 60.6092 508.693 91.7509 502.357 111.815C491.539 146.074 481.315 169.416 478.573 175.169C477.186 178.078 476.275 181.183 466.333 198.047C456.39 214.912 437.562 245.497 426.35 262.86C415.139 280.224 412.114 283.44 406.244 290"
          stroke="#C00404"
          stroke-width="2"
          stroke-linecap="round"
        />
        <path
          d="M208.448 44.1029C208.448 44.4387 208.448 44.7746 220.072 59.2616C231.697 73.7487 254.945 102.377 280.537 129.488C306.129 156.599 333.36 181.325 357.787 200.316C382.214 219.306 403.012 231.811 426.806 242.873C450.601 253.934 476.762 263.172 502.523 270.175C528.284 277.179 552.851 281.667 583.539 284.608C614.227 287.549 650.291 288.807 687.448 290.103"
          stroke="#C00404"
          stroke-width="2"
          stroke-linecap="round"
        />
        <path
          d="M545 22.3097C541.816 26.5725 531.209 36.421 523.613 42.6305C519.797 45.7498 506.531 55.8108 465.733 81.6667C436.756 100.031 387.9 123.848 345.682 143.539C303.464 163.229 268.578 176.744 237.592 191.153C206.606 205.561 180.578 220.454 165.457 228.707C147.195 238.675 139.855 240.638 124.67 248.304C92.5459 264.522 70.9842 279.097 66.4441 282.133C52.7997 291.783 40.0054 301.696 35.3773 305.251C32.612 307.631 29.0006 311.18 22.9242 317.522"
          stroke="#C00404"
          stroke-width="2"
          stroke-linecap="round"
        />
      </svg>
    </div>
  </body>
</html>
