<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.typekit.net/kgq3vgx.css">
    <script src="papa.js"></script>
    <script src="main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>

    <title>Papa</title>
  </head>
  <body class="member-container">
    <div class="each-name">
      <img src="/imgs/papa-name.png" alt="papa"/>
    </div>

    <div class="song-corner">
      <p class="song-label">Escucha</p>
      <img src="/imgs/papasong.gif" width="130px" id="song-gif">
    </div>

    <audio id="song">
      <source src="/sounds/papa.mp3" type="audio/mpeg">
    </audio>

<div class="navbar-container">
  <ul class="navbar-items">
    <li>
<a href="/">
  <img src="/imgs/white-home.png" width="30px">
</a>
    </li>
    <li>
<a href="#" id="plus-btn">
  <img src="/imgs/plus.png" width="30px">
</a>
    </li>
    <li>
<a href="#" id="pen-btn">
  <img src="/imgs/pen.png" width="35px">
</a>
    </li>
  </ul>
</div>

    <div id="text-box">
      <form method="POST" action="/upload/papa">
        <input type="text" name="text" maxlength="50" placeholder="Algo que decirle a Papa" />
        <input type="submit" value="Enviar" />
      </form>
    </div>

    <div id="upload-box">
      <form method="POST" action="/upload/papa" enctype="multipart/form-data">
          <div class="submit-container">
            <div>
              <label for="file-upload" class="custom-file-upload"> </label>
              <input id="file-upload" name="theimage" type="file" />
            </div>
            <div>
              <input type="submit" name="submitbutton" value="Enviar" />
            </div>
          </div>
      </form>
    </div>

    <div class="all-posts">
        <% for(let post of clientPosts) { %>
        <div class="post draggable">
            <% if(post.image) { %>
                <img src="<%=post.image %>">
            <% } %>
            <% if(post.text) { %>
                <p><%=post.text %></p>
            <% } %>
        </div>
        <% } %>
      </div>

    <div class="bio-section">
      <div class="bio-line"></div>
      <img src="/imgs/olive-tree.png" alt="" width="100px">
      <p class="bio-text">Arbol de Olivo</p>
      <p class="bio-text">Papá, el olivo. El árbol que crece torcido a propósito, como quien sabe que la línea recta es aburrida. Resistente sin hacer ruido, viejo sin volverse rígido, lleno de geometría imposible en cada rama. Papá es un olivo porque vive así, con humor, con pensamiento, con caos bien acomodado. Es imposible estar cerca de él y no querer quedarse a escucharlo reír.</p>
    </div>

  </body>
</html>
