#clock {
 border: solid 1px black;
 font-size: 20px;
 font-family: 'Courier New', Courier, monospace;
 font-weight: 600;
 padding: 10px;
 text-align: center;
 width: 90%;
 margin: auto;
}

#map { height: 100vh;}