<html>
  <head>
    <link href="style.css" rel="stylesheet" />
  </head>

  <body>
    <p>this is something</p>

    //this is very important, it can be name whatever <%= blah %>

    <form method="GET" action="sign">
      <input type="text" placeholder="enter your name" />
      <input type="submit" value="sign my guestbook" />
    </form>

    <h1><%= firstGuest %> was the first person here!</h1>
  </body>
</html>
